name: Update date.txt

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  create_pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: date > date.txt
      - uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Update date.txt
          delete-branch: true
          title: Update date.txt
